@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

/*
=============== 
Variables
===============
*/

:root {
    /* all color*/
    --clr-first: #F09524;
    --clr-second: #966E47;
    --clr-third: #FFEBCD;
    --clr-fourth: #005247;
    /*font family*/
    --ff-primary: "Bebas Neue", "cursive";
    --ff-secondary: "Pacifico", "cursive";
    --ff-tertiary:"B612", "sans-serif";
    /*****/
    --transition: all 0.3s linear;
    --spacing: 5%;
    --radius: 15px;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 0px 15px rgba(150,110,71,1);
}
  /*
  =============== 
  Global Styles
  ===============
  */
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body {
    background: var(--clr-third);
}
/***hero section***/
.container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.hero {
    margin-bottom: 70px;
    height: 100vh;
    box-shadow: var(--dark-shadow);
    background: linear-gradient(rgb(0 0 0 / 87%),rgb(0 0 0 / 46%));
    overflow: hidden;
}
/******slide*/
/***/
.slides-container {
    width: 100%;
    position: relative;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100vh;
    transition: var(--transition); 
    z-index: -5;
}
/****/
.slide > img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    object-position: center;
}
.carousel i {
    background: transparent;
    color: var(--clr-third);
    position: relative;
}
.carousel .slide button {
    transition: var(--transition);
}
.carousel .left-angle {
    position: absolute;
    background: transparent;
    border-radius: 50%;
    border:3px solid var(--clr-third);
    width: 40px;
    height: 40px;
    top: 50%;
    left: 2%;
    cursor: pointer;
}
.carousel .right-angle {
    position: absolute;
    background: transparent;
    border-radius: 50%;
    border:3px solid var(--clr-third);
    width: 40px;
    height: 40px;
    top: 50%;
    right: 2%;
    cursor: pointer;
}
.carousel button:hover {
    border-color: var(--clr-first);
}
.right-angle:hover > i {
    color: var(--clr-first);
} 
.left-angle:hover > i {
    color: var(--clr-first);
}
/**end slide**/
nav {
    display: flex;
    justify-content: space-between;
}
nav h2 {
    color: var(--clr-first);
    font-family: var(--ff-secondary);
    font-size: 30px;
    position: relative;
}
nav .bars {
    display: none;
    color: var(--clr-third);
    font-size: 35px;
    padding-top: 10px;
    cursor: pointer;
}
.fa-xmark {
    display: none;
}
nav ul li {
    display: inline-block;
    padding: 20px 35px;
}
.active {
    color: var(--clr-first);
}
.down {
    font-size: 15px;
    padding: 5px;
    transform: rotate(0);
    transition: all;
}
nav a {
    color: var(--clr-third);
    font-family: var(--ff-tertiary);
    text-transform: capitalize;
    font-size: 17px;
    transition: var(--transition),
}
nav .links-item:hover > a,
nav .links-item:hover .down {
    color: var(--clr-first);
    transform: rotate(-180deg);
}
li .active {
    color: var(--clr-first);
}
.link-page {
    display: flex;
    position: absolute;
    top: 9%;
    left: 58%;
    width: 10%;
    flex-direction: column;
    background: var(--clr-second);
    border-top: 2px solid var(--clr-first);
    opacity: 0;
    transition: var(--transition);
    transform: translatey(10px);
    visibility: hidden;
    cursor: pointer;
}
.links-item:hover > .link-page {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.link-page li:hover {
    background-color: var(--clr-third);
}
nav button {
    background-color: var(--clr-fourth);
    color: var(--clr-first);
    border: none;
    border-radius: 30px;
    width: 155px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    font-family: var(--ff-primary);
    cursor: pointer;
}
nav button:hover {
    background-color: var(--clr-first);
    color: var(--clr-third);
}

.hero-text {
    color: var(--clr-third);
}
.hero-text h2 {
    font-family: var(--ff-primary);
    font-size: 80px;
    width: 26%;
    margin-top: 20px;
    margin-left: 10%;
}
.hero-text span {
    font-family: var(--ff-primary);
}
.hero-text span:first-of-type {
    margin-left: 20px;
}
.hero-text span:last-of-type {
    margin-left: 30px;
}
.hero-text p {
    font-family: var(--ff-primary);
    left: 29%;
    font-size: 15px;
    position: absolute;
    color: var(--clr-first);
    margin-top: -15px;
}
.hero-btn {
    position: relative;
    margin-top: 80px;
}
.hero-btn button {
    color: var(--clr-third);
    font-size: 25px;
    font-family: var(--ff-primary);
    width: 15%;
    height: 50px;
    border-radius: 30px;
    position: absolute;
    transition: var(--transition);
    cursor: pointer;
}
.hero-btn button:first-of-type {
    left: 50%;
    background: var(--clr-fourth);
    border: none;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.hero-btn button:first-of-type::before,
.hero-btn button:last-of-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,rgba(255, 255, 255, 0.15),transparent);
    transform: skewX(45deg) translateX(0);
    transition: var(--transition);
}
.hero-btn button:hover:first-of-type::before {
    transform: skewX(45deg) translateX(150%);
}
.hero-btn button:first-of-type:hover {
    letter-spacing: 3px;
    background-color: #F09524;
}
.hero-btn button:last-of-type {
    left: 68%;
    background: transparent;
    border: 3px solid var(--clr-fourth);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
.hero-btn button:hover:last-of-type::before {
    transform: skewX(45deg) translateX(150%);
}
.hero-btn button:last-of-type:hover {
    letter-spacing: 2px;
}
/* ***end hero section*** */
/*start about section*/
.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px;
    align-items: center;
    margin-bottom: 120px;
}
.about .about-text h2 {
    font-size: 55px;
    text-transform: capitalize;
    font-family: var(--ff-secondary);
    color: var(--clr-fourth);
    position: relative;
}
.about .about-text h2::before {
    content: "";
    position: absolute;
    width: 300px;
    height: 8%;
    border-radius: 15px;
    background: var(--clr-fourth);
    top: 90%;
}
.about .about-text h3 {
    font-family: var(--ff-primary);
    font-size: 50px;
    color: var(--clr-second);
    padding-top: 20px;
}
.about .about-text p {
    color: var(--clr-second);
    font-family: var(--ff-primary);
    font-size: 30px;
    line-height: 2;
}
.about .about-img img {
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    box-shadow: -28px 0px 60px rgba(150,110,71,1);
}
.about button {
    background: transparent;
    border: 3px solid var(--clr-second);
    border-radius: 10px;
    width: 100px;
    height: 60px;
    color: var(--clr-fourth);
    font-size: 20px;
    font-family: var(--ff-primary);
    position: absolute;
    right: 60%;
    cursor: pointer;
    transition: var(--transition);
    overflow: hidden;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);
}
.about button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,rgba(150,110,71,0.15),transparent);
    transform: skewX(45deg) translateX(0);
    transition: var(--transition);
}
.about button:hover::before {
    transform: skewX(45deg) translatex(150%);
}
.about button:hover {
    color: #F09524;
    letter-spacing: 1px;
}
/*end about section*/
/** start ssbr**/
.adds-reservation {
    background-image: url(./imges/pexels-rodnae-productions-5848012-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: var(--dark-shadow);
    height: 420px;
    width: 100%;
    margin-bottom: 120px;
    position: relative;
}
.adds-reservation h2{
    color: var(--clr-first);
    font-family: var(--ff-secondary);
    text-transform: capitalize;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
}
.adds-reservation h3{
    color: var(--clr-third);
    font-family: var(--ff-tertiary);
    font-size: 24px;
    text-align: center;
    
}
.adds-reservation .btn-ssbr{
    width: 15%;
    height: 50px;
    background: transparent;
    border: 3px solid var(--clr-fourth);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    border-radius: 40px;
    font-size: 25px;
    font-family: var(--ff-primary);
    color: var(--clr-third);
    position: absolute;
    top: 60%;
    left: 40%;
    transition: var(--transition);
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.btn-ssbr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left,rgba(255,255,255,0.30),transparent);
    transform: skewX(45deg) translateX(0);
    transition: var(--transition);
}
.btn-ssbr:hover::before {
    transform: skewX(45deg) translateX(120%);
}
.btn-ssbr:hover {
    color: var(--clr-first);
    letter-spacing: 2px;
}
/** end ssbr**/
/***start menu section**/
.menu {
    position: relative;
    background: linear-gradient(rgb(0 0 0 / 87%),rgb(0 0 0 / 46%)),url(./imges/pexels-alleksana-4113666-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 90px;
    box-shadow: var(--dark-shadow);
}
.menu-title h2 {
    font-size: 55px;
    text-transform: capitalize;
    font-family: var(--ff-secondary);
    color: var(--clr-fourth);
    position: relative;
}
.menu-title h2::before {
    content: "";
    position: absolute;
    width: 360px;
    height: 8%;
    border-radius: 15px;
    background: var(--clr-fourth);
    top: 90%;
}
.menu-title h3 {
    color: var(--clr-third);
    font-family: var(--ff-primary);
    font-size: 25px;
    letter-spacing: 2px;
    padding: 20px 0px;
}
.btn-container {
    text-align: center;
}
.filter-btn {
    background: transparent;
    border: none;
    padding: 40px 30px 0px 30px;
    color: var(--clr-third);
    font-size: 20px;
    font-family: var(--ff-primary);
    transition: var(--transition);
    cursor: pointer;
}
.filter-btn:first-child {
    color: var(--clr-first);
}
.filter-btn:hover {
    color: var(--clr-first);
}
.section-center {
    padding-top: 90px;
    display: grid;
    grid-template-columns: 615px 500px;
    grid-template-rows: repeat(3,1fr);
    overflow: hidden;
    padding-left: 20px;
}
.menu-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border: 4px solid var(--clr-fourth);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px white;
}
article {
    position: relative;
    padding-bottom: 40px;
}
.item-info {
    color: var(--clr-third);
    display: inline-block;
    position: absolute;
    left: 140px;
    top: 20px;
    
}
.item-info::before {
    content: "";
    position: absolute;
    border: 1px  var(--clr-third);
    border-style: dashed none none;
    width: 20px;
    border-radius: 10px;
    transform: scale(3);
    top: 30%;
    left: 60%;
}
.item-info header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-info .title {
    font-family: var(--ff-primary);
    font-size: 25px;
    letter-spacing: 1px;
    padding-left: 10px;
}
.item-info .price {
    font-size: 16px;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-left: 130px;
}
.item-info .price::before {
    content: "";
    background-color: var(--clr-first);
    width: 50px;
    height: 50px;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    top: -65%;
    left: 73%;
    transform: translateX(0);
}
.item-info .item-text {
    padding-top: 10px;
}
/***end menu section**/
/***reservation*/
.reserve {
    background-image: linear-gradient(rgb(0 0 0 / 60%),rgb(0 0 0 / 50%)),url(./imges/pexels-craig-adderley-2463419.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: var(--dark-shadow);
    width: 100%;
    height: 700px;
    margin-bottom: 50px;
    position: relative;
}
.reserve h2 {
    font-size: 55px;
    text-transform: capitalize;
    font-family: var(--ff-secondary);
    color: var(--clr-third);
    position: relative;
}
.reserve h2::before {
    content: "";
    position: absolute;
    width: 360px;
    height: 8%;
    border-radius: 15px;
    background: var(--clr-third);
    top: 90%;
}
.reserve h3 {
    color: var(--clr-second);
    font-family: var(--ff-primary);
    font-size: 35px;
    padding-top: 10px;
}
.card-content form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
form .card {
    padding: 30px 0px;
}
.card input,
select {
    background: var(--clr-third);
    border: navajowhite;
    border-radius: 8px;
    width: 65%;
    height: 50px;
    color: var(--clr-second);
}
.card input::placeholder {
    color: var(--clr-second);
    font-size: 15px;
    padding-left: 10px;
    font-family: var(--ff-tertiary);
    text-transform: capitalize;
}
.card select {
    color: var(--clr-second);
}
#submit input {
    color: var(--clr-first);
    background: transparent;
    border: 2px solid var(--clr-fourth);
    width: 20%;
    height: 10%;
    border-radius: 40px;
    font-size: 25px;
    font-family: var(--ff-primary);
    position: absolute;
    top: 80%;
    left: 40%;
    transition: var(--transition);
    overflow: hidden;
    box-shadow: -5px 0px 10px rgb(0 0 0 / 20%);
    cursor: pointer;
}
#submit input:hover {
    color: var(--clr-third);
    letter-spacing: 1px;
    background: linear-gradient(to left,rgba(255, 255, 255, 0.3),transparent);
}
/***end reservation*/
/*review*/
.review {
    background: linear-gradient(rgb(0 0 0 / 90%),rgb(0 0 0 / 50%)),url(./imges/pexels-roman-odintsov-4958654.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--dark-shadow);
    margin-bottom: 40px;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.slide-review {
    position: absolute;
    top: 20%;
    left: 25%;
    color: var(--clr-third);
    width: 55%;
    opacity: 0;
    background: linear-gradient(to left,rgba(255, 255, 255, 0.2),transparent);
}
.review .slide-review.active-rev {
    opacity: 1;
    transition: 2s;
}
.slide-review > i {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 35px
}
.info-review > p {
    font-size: 20px;
    font-family: var(--ff-tertiary);
    padding: 0px 10px;
}
.btn-review {
    display: flex;
    position: absolute;
    bottom: 7%;
    left: 45%;
}
.btn-rev {
    width: 15px;
    margin: 10px;
    height: 15px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid var(--clr-second);
    transition: var(--transition);
    cursor: pointer;
}
.btn-rev:hover {
    background-color: #966E47;
}
.btn-review > .active-rev {
    background-color: var(--clr-second);
}
/*end review*/
/** section contact*/
.contact h2 {
    font-size: 55px;
    text-transform: capitalize;
    font-family: var(--ff-secondary);
    color: var(--clr-fourth);
    position: relative;
    margin: 50px 0px;
    padding: 0px 25px;
}
.contact h2::before {
    content: "";
    position: absolute;
    width: 360px;
    height: 8%;
    border-radius: 15px;
    background: var(--clr-fourth);
    top: 90%;
}
.contact-content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
}
.icon-contact .icon {
    display: flex;
    padding: 10px;
    align-items: center;
}
.icon > .con {
    color: var(--clr-third);
    background-color: var(--clr-fourth);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.text-icon {
    padding: 0px 5px;
}
.text-icon h4 {
    font-size: 20px;
    text-transform: capitalize;
    color: var(--clr-fourth);
}
.text-icon p {
    font-weight: bold;
}
.input-contact form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);
    padding: 30px 0px;
    grid-gap: 25px;
    position: relative;
}

.input-contact input {
    background-color: var(--clr-third);
    border: 2px solid var(--clr-second);
    width: 100%;
    height: 55px;
    padding: 0px 5px;
    color: var(--clr-first);
}
.input-contact input::placeholder {
    color: var(--clr-first);
    font-size: 15px;
    font-family: var(--ff-tertiary);
    text-transform: capitalize;
}
.submit-cont input {
    text-align: center;
    background: var(--clr-fourth);
    border-radius: 60px;
    color: var(--clr-third);
    font-size: 15px;
    font-family: var(--ff-tertiary);
    text-transform: capitalize;
    width: 60%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: var(--transition);
}
.submit-cont input:hover {
    color: var(--clr-first);
    letter-spacing: 1px;
}
/*grid item*****/
.input-contact input:nth-of-type(1) {
    grid-column: 1 / 1;
}
.input-contact input:nth-of-type(2) {
    grid-column: 2;
}
.input-contact input:nth-of-type(3) {
    grid-column: 1 / 3;
}
.input-contact input:nth-of-type(4) {
    grid-column: 1 / 3;
    height: 60px;
}
/********/
.error {
    color: red;
    position: absolute;
    text-transform: capitalize;
}
small:nth-of-type(1) {
    top: 10px;
}
small:nth-of-type(2) {
    top: 10px;
    left: 55%;
}
small:nth-of-type(3) {
    top: 95px;
}
#success {
    color: green;
}
/** section contact end*/
/** start footer**/
footer {
    background: linear-gradient(rgb(0 0 0 / 90%),rgb(0 0 0 / 50%)),url(./imges/pexels-dzenina-lukac-754261.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--dark-shadow);
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}
.content-footer {
    color: var(--clr-third);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    margin-bottom: 20px;
}
.box-foot-one h2 {
    color: var(--clr-first);
    font-family: var(--ff-secondary);
    font-size: 25px;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.box-foot-one p {
    font-family: var(--ff-tertiary);
    font-size: 10;
    width: 80%;
    text-transform: capitalize;
}
.box-foot-two {
    padding-top: 10px;
}
.box-foot-two h3 {
    margin-bottom: 5px;
}
.box-foot-two p {
    width: 60%;
}
.copyrt {
    display: flex;
    color: var(--clr-third);
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.foot-icon {
    display: flex;
    justify-content: center;
}
.iconf {
    padding: 10px;
}
.iconf > a {
    background-color: var(--clr-first);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--clr-third);
}
.top-link {
    color: var(--clr-third);
    background-color: var(--clr-fourth);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 99;
}
.top-link:hover {
    background-color: var(--clr-first);
}
.active-scrol {
    opacity: 1;
}
/** end footer**/

/****** \\\\ medai responsive //// ********/
@media (max-width: 1098px) {
    nav .menu-all {
        display: none;
    }
    nav button {
        display: none;
    }
    nav .bars {
        display: block;
    }
    .fa-xmark {
        position: absolute;
        color: white;
        font-size: 45px;
        right: 25px;
        top: 15px;
        display: none;
        cursor: pointer;
    }
    /***/
    .show-btn {
        display: block;
    }
    nav .menu-all {
        position: fixed;
        display: grid;
        left: 0;
        top: 9%;
        width: 100%;
        border-radius: 15px;
        background-color: var(--clr-fourth);
        transform: translate(-100%);
        transition: var(--transition);
    }
    /****/
    .menu-all.show-nav {
        transform: translate(0);
    }
    .link-page {
        position: relative;
        left: 0;
        width: 100%;
        max-height: 0;
        transition: var(--transition);
        transform: translateY(0);
        border-radius: 0;
    }
    .links-item:hover > .link-page {
        max-height: 100%;
    }
    /*end heorp*/
    /*start ssbr*/
    .adds-reservation .btn-ssbr {
        width: 200px;
    }
    /*end ssbr*/
    /*start menu*/
    .section-center {
        grid-template-columns: auto;
    }
    /*end menu*/
}
@media (max-width: 767px) {
    .hero {
        height: 80vh;
    }
    /*nav ul  {
        display: none;
    }*/
    .hero-text h2 {
        width: 80%;
        margin-left: 10px;
        font-size: 70px;
        margin-top: 20%;
    }
    .hero-text p {
        left: 30%;
        width: 60%;
    }
    nav button {
        display: none;
    }
    .hero-btn {
        margin-top: 90px;
    }
    .hero-btn button {
        width: 40%;
    }
    .hero-btn button:first-of-type {
        left: 2%;
    }
    .hero-btn button:last-of-type {
        left: 50%;
        font-size: 20px;
    }
    /*end heorp*/
    /*start about*/
    .about {
        grid-template-columns: 1fr;
    }
    .about .about-img img {
        width: 90%;
    }
    /*end about*/
    .item-info::before {
        left: 52%;
        width: 14px;
    }
    .item-info .price {
        padding-left: 45px;
    }
    .item-info .price::before  {
        top: -90%;
        left: 50%;
    }
    #submit input {
        width: 50%;
        left: 14%;
    }
    .adds-reservation {
        height: 500px;
    }
    .adds-reservation .btn-ssbr {
        top: 74%;
        left: 24%;
    }
    .btn-review {
        bottom: 5%;
        left: 37%;
    }
    /*start review*/
    .info-review > p {
        font-size: 14px;
    }
    /*end review*/
    .contact-content {
        grid-gap: 25px;
        grid-template-columns: none;
    }
    .contact h2::before {
        width: 330px;
    }
    .box-foot-two {
        padding-left: 25px;
    }
    .box-foot-two h3 {
        color: var(--clr-second);
    }
    .box-foot-two p {
        font-size: 13px;
    }
    .contact-content .icon {
        width: 115%;
    }
    .submit-cont input {
        width: 100%;
    }
}

